

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Special+Elite&family=Varela+Round&display=swap');


body{
    margin: 60px;
    font-family: 'Caveat', cursive;
    font-family: 'Varela Round', sans-serif;
  }
  .container-fluid{
    background-color:#EEEEEE;
  }
  .header{
    text-align: center;
  }
  #imagetext{
    background-color: white !important;
  }
  .main{
    max-width: 660px; /* for  below IE7 use `width: 660px;` */
      margin: 0 auto;
  }
  li span{
    font-weight: bold;
  }
  .footer{
    text-align:center;
  }
  #codedby{
    text-align:center;
  }